@charset "UTF-8";

#replyForm {
/* 	margin: 0; */
/* 	padding: 0; */
}

#reply {
	disaply: inline;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #ced4da;
}

#reply:focus {
    border: none;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
}

#newReplyBtn {
	width: 10%;
}