@charset "UTF-8";

#list-head th:nth-child(1) {
	width: 10%;
}

#list-head th:nth-child(2) {
	width: 15%;
}

#list-head th:nth-child(3) {
	width: 40%;
}

#list-head th:nth-child(4) {
	width: 25%;
}

#list-head th:nth-child(5) {
	width: 10%;
}

.list-item {
	cursor: pointer;
}